body{
    font-family: Arial, sans-serif;
}
.flex-container-stt {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 15px; /* Khoảng cách giữa các item */
    justify-content: space-between;
}

.list-item {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
    width: 370px; 
    margin-top: 15px;
    box-sizing: border-box;
}
.shortStr{
    max-width: 1200px;
    margin: auto;

}
.shortStr p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
}

.item {
    margin: 0;
    font-size: 16px;
}

.item a {
    color: #007bff;
    text-decoration: none;
}

.item a:hover {
    color:blue;  
}
